<%- include('partials/header', { title }) %>

<section class="success-message">
  <h2>Message Sent</h2>
  <p>Thank you for getting in touch! We’ll respond as soon as we can.</p>
  <a href="/" class="button">Go Back Home</a>
</section>

<%- include('partials/footer') %>
